
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Support</h3>
                </div>
                <div class="box-body">
                    <a href="https://wa.me/923008855011" target="_blank"><i class="fa-brands fa-whatsapp my-icon" style="font-size:24px;color:limegreen"></i><h4>+92 300 88 55 011 (Click & chat)</h4></a>
                    <a href="mailto:waqqasjavaid@gmail.com"><i class="fa-regular fa-envelope my-icon" style="font-size:24px;color:red"></i><h4>waqqasjavaid@gmail.com</h4></a>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>

</section>
<link href="~/bower_components/font-awesome/css/all.min.css" rel="stylesheet" />
<style>

    .my-icon {
        line-height: 40px;
    }
</style>