<style>
    .form-group {
        margin-bottom: 15px; /* Add some spacing between form groups */
    }

    .flex-row {
        display: flex;
        align-items: center;
    }

        .flex-row label {
            flex: 0 0 150px; /* Adjust width as needed */
            margin-right: 10px; /* Space between label and input */
        }

        .flex-row input {
            flex: 1; /* Allow input to take up remaining space */
        }
</style>


<div class="modal fade bd-tax-modal-lg" id="storeClosingPopup1" tabindex="-1" role="dialog" aria-labelledby="storeClosingPopup1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storeClosingPopup1" style="text-align:center;">Close</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-9" style="height: 537px !important; overflow-y:scroll;">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <h4 class="card-title">VND (₫)</h4>
                                                <div class="form-group flex-row">
                                                    <label for="oneThsndVndClose">1 000 (₫)</label>
                                                    <input type="text" autocomplete="off" class="form-control" name="oneThsndVndClose" id="oneThsndVndClose" value="0" oninput="calculateTotalClose('oneThsndVndClose', 1000, 'totalOneThsndVndClose')"> &nbsp;&nbsp;&nbsp;
                                                    <input type="text" autocomplete="off" class="form-control" name="totalOneThsndVndClose" id="totalOneThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twoThsndVndClose">2 000 (₫)</label>
                                                    <input type="text" class="form-control" name="twoThsndVndClose" id="twoThsndVndClose" value="0" oninput="calculateTotalClose('twoThsndVndClose', 2000, 'totalTwoThsndVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwoThsndVndClose" id="totalTwoThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiveThsndVndClose">5 000 (₫)</label>
                                                    <input type="text" class="form-control" name="fiveThsndVndClose" id="fiveThsndVndClose" value="0" oninput="calculateTotalClose('fiveThsndVndClose', 5000, 'totalFiveThsndVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiveThsndVndClose" id="totalFiveThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="tenThsndVndClose">10 000 (₫)</label>
                                                    <input type="text" class="form-control" name="tenThsndVndClose" id="tenThsndVndClose" value="0" oninput="calculateTotalClose('tenThsndVndClose', 10000, 'totalTenThsndVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTenThsndVndClose" id="totalTenThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twentyThsndVndClose">20 000 (₫)</label>
                                                    <input type="text" class="form-control" name="twentyThsndVndClose" id="twentyThsndVndClose" value="0" oninput="calculateTotalClose('twentyThsndVndClose', 20000, 'totalTwentyThsndVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwentyThsndVndClose" id="totalTwentyThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiftyThsndVndClose">50 000 (₫)</label>
                                                    <input type="text" class="form-control" name="fiftyThsndVndClose" id="fiftyThsndVndClose" value="0" oninput="calculateTotalClose('fiftyThsndVndClose', 50000, 'totalFiftyThsndVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiftyThsndVndClose" id="totalFiftyThsndVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="oneLacVndClose">100 000 (₫)</label>
                                                    <input type="text" class="form-control" name="oneLacVndClose" id="oneLacVndClose" value="0" oninput="calculateTotalClose('oneLacVndClose', 100000, 'totalOneLacVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalOneLacVnClose" id="totalOneLacVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twoLacVndClose">200 000 (₫)</label>
                                                    <input type="text" class="form-control" name="twoLacVndClose" id="twoLacVndClose" value="0" oninput="calculateTotalClose('twoLacVndClose', 200000, 'totalTwoLacVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwoLacVndClose" id="totalTwoLacVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiveLacVnd">500 000 (₫)</label>
                                                    <input type="text" class="form-control" name="fiveLacVndClose" id="fiveLacVndClose" value="0" oninput="calculateTotalClose('fiveLacVndClose', 500000, 'totalFiveLacVndClose')">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiveLacVndClose" id="totalFiveLacVndClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="totalVndClose">Total</label>
                                                    <input type="text" class="form-control" name="totalVndClose" id="totalVndClose" value="0">&nbsp;&nbsp;&nbsp; Total (₫)
                                                    <input type="text" class="form-control" name="totalVndCountClose" id="totalVndCountClose" value="0">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                             Calculator buttons 
                                            <div class="calculator">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">7</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">8</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">9</button>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">4</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">5</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">6</button>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">1</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">2</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">3</button>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-secondary btn-block" type="button">CE</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btnbtn-secondary btn-block" type="button">0</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btnbtn-secondary btn-block" type="button">X</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <h4 class="card-title">USD ($)</h4>
                                                <div class="form-group flex-row">
                                                    <label for="oneDollarClose">1 ($)</label>
                                                    <input type="text" autocomplete="off" class="form-control" name="oneDollarClose" id="oneDollarClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" autocomplete="off" class="form-control" name="totalOneDollarClose" id="totalOneDollarClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiveDollarsClose">5 ($)</label>
                                                    <input type="text" class="form-control" name="fiveDollars" id="fiveDollarsClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiveDollarsClose" id="totalFiveDollarsClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="tenDollarsClose">10 ($)</label>
                                                    <input type="text" class="form-control" name="tenDollarsClose" id="tenDollarsClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTenDollarsClose" id="totalTenDollarsClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twentyDollarsClose">20 ($)</label>
                                                    <input type="text" class="form-control" name="twentyDollarsClose" id="twentyDollarsClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwentyDollarsClose" id="totalTwentyDollarsClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiftyDollarsClose">50 ($)</label>
                                                    <input type="text" class="form-control" name="fiftyDollarsClose" id="fiftyDollarsClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiftyDollarsClose" id="totalFiftyDollarsClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="hundredDollarsClose">100 ($)</label>
                                                    <input type="text" class="form-control" name="hundredDollarsClose" id="hundredDollarsClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalHundredDollarsClose" id="totalHundredDollarsClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="totalDollarsClose">Total</label>
                                                    <input type="text" class="form-control" name="totalDollarsClose" id="totalDollarsClose" value="0">&nbsp;&nbsp;&nbsp; Total ($)
                                                    <input type="text" class="form-control" name="totalDollarsCountClose" id="totalDollarsCountClose" value="0">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <h4 class="card-title">JPY (¥)</h4>
                                                <div class="form-group flex-row">
                                                    <label for="oneYenClose">1 (¥)</label>
                                                    <input type="text" autocomplete="off" class="form-control" name="oneYenClose" id="oneYenClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" autocomplete="off" class="form-control" name="totalOneYen" id="totalOneYen" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twoYensClose">5 (¥)</label>
                                                    <input type="text" class="form-control" name="twoYensClose" id="twoYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwoYensClose" id="totalTwoYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="tenYensClose">10 (¥)</label>
                                                    <input type="text" class="form-control" name="tenYensClose" id="tenYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTenYensClose" id="totalTenYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fiftyYensClose">50 (¥)</label>
                                                    <input type="text" class="form-control" name="fiftyYensClose" id="fiftyYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFiftyYensClose" id="totalFiftyYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="hundredYens">100 (¥)</label>
                                                    <input type="text" class="form-control" name="hundredYensClose" id="hundredYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalHundredYensClose" id="totalHundredYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fivehundredYensClose">500 (¥)</label>
                                                    <input type="text" class="form-control" name="fivehundredYensClose" id="fivehundredYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFivehundredYensClose" id="totalFivehundredYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="onethousandsYensClose">1 000 (¥)</label>
                                                    <input type="text" class="form-control" name="onethousandsYens" id="onethousandsYens" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalOnethousandsYens" id="totalOnethousandsYens" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="twothousandsYensClose">2 000 (¥)</label>
                                                    <input type="text" class="form-control" name="twothousandsYensClose" id="twothousandsYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTwothousandsYensClose" id="totalTwothousandsYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="fivethousandsYensClose">5 000 (¥)</label>
                                                    <input type="text" class="form-control" name="fivethousandsYensClose" id="fivethousandsYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalFivethousandsYensClose" id="totalFivethousandsYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="tenthousandsYensClose">10 000 (¥)</label>
                                                    <input type="text" class="form-control" name="tenthousandsYensClose" id="tenthousandsYensClose" value="0">&nbsp;&nbsp;&nbsp;
                                                    <input type="text" class="form-control" name="totalTenthousandsYensClose" id="totalTenthousandsYensClose" value="0">
                                                </div>
                                                <div class="form-group flex-row">
                                                    <label for="totalYenClose">Total</label>
                                                    <input type="text" class="form-control" name="totalYensClose" id="totalYensClose" value="0">&nbsp;&nbsp;&nbsp; Total (¥)
                                                    <input type="text" class="form-control" name="totalYensCountClose" id="totalYensCountClose" value="0">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="closeShop" id="closeShop">Validate</button>
            </div>
        </div>
    </div>
</div>