<style>
    .form-group {
        margin-bottom: 15px; /* Add some spacing between form groups */
    }

    .flex-row {
        display: flex;
        align-items: center;
    }

        .flex-row label {
            flex: 0 0 150px; /* Adjust width as needed */
            margin-right: 10px; /* Space between label and input */
        }

        .flex-row input {
            flex: 1; /* Allow input to take up remaining space */
        }
</style>
<!-- jQuery 3 -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/custom/shared.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="modal fade bd-tax-modal-lg" id="storeClosingPopup1" tabindex="-1" role="dialog" aria-labelledby="storeClosingPopup1Label" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storeClosingPopup1T" style="text-align:center;">Close</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-9" style="height: 537px !important; overflow-y:scroll;">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                            Calculator buttons Close popupppppsss

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Cancel</button>
                <button type="submit" class="btn btn-primary" name="closeShop" id="closeShop" disabled>Validate</button>
            </div>
        </div>
    </div>
</div>